@font-face {
  font-family: "iconfont"; /* Project id 4401782 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1733210154049') format('woff2'),
       url('iconfont.woff?t=1733210154049') format('woff'),
       url('iconfont.ttf?t=1733210154049') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link2:before {
  content: "\e678";
}

.icon-unlink2:before {
  content: "\e629";
}

.icon-link-data:before {
  content: "\e658";
}

.icon-expand-all:before {
  content: "\e646";
}

.icon-fold-all:before {
  content: "\e647";
}

.icon-kefu:before {
  content: "\e636";
}

.icon-offline:before {
  content: "\e609";
}

.icon-socket-io:before {
  content: "\e822";
}

.icon-test-case:before {
  content: "\e77e";
}

.icon-loop:before {
  content: "\e624";
}

.icon-wait:before {
  content: "\e812";
}

.icon-group:before {
  content: "\e689";
}

.icon-if:before {
  content: "\e7ee";
}

.icon-backspace:before {
  content: "\e821";
}

.icon-export:before {
  content: "\e673";
}

.icon-rename:before {
  content: "\e63e";
}

.icon-markdown:before {
  content: "\e662";
}

.icon-markdown2:before {
  content: "\e62b";
}

.icon-folder-add:before {
  content: "\e94c";
}

.icon-folder-move:before {
  content: "\e657";
}

.icon-copy1:before {
  content: "\e67b";
}

.icon-edit:before {
  content: "\e638";
}

.icon-import-project:before {
  content: "\e69c";
}

.icon-http:before {
  content: "\e62c";
}

.icon-import-curl:before {
  content: "\e623";
}

.icon-team2:before {
  content: "\e7d0";
}

.icon-api1:before {
  content: "\e71c";
}

.icon-project-role:before {
  content: "\e616";
}

.icon-invite:before {
  content: "\e675";
}

.icon-transfer:before {
  content: "\e63f";
}

.icon-team:before {
  content: "\e605";
}

.icon-developer:before {
  content: "\e610";
}

.icon-administrator:before {
  content: "\e60a";
}

.icon-visitor:before {
  content: "\e607";
}

.icon-project:before {
  content: "\e651";
}

.icon-project-doc:before {
  content: "\e61c";
}

.icon-quick-share:before {
  content: "\e78e";
}

.icon-link-off:before {
  content: "\e9b2";
}

.icon-link:before {
  content: "\e6e2";
}

.icon-search:before {
  content: "\e82e";
}

.icon-database:before {
  content: "\e76b";
}

.icon-api:before {
  content: "\e602";
}

.icon-auto-test2:before {
  content: "\ecb8";
}

.icon-refresh:before {
  content: "\e659";
}

.icon-cloud-link:before {
  content: "\e98c";
}

.icon-flash-auto:before {
  content: "\ebb7";
}

.icon-okay:before {
  content: "\e696";
}

.icon-format:before {
  content: "\e635";
}

.icon-clone:before {
  content: "\e61e";
}

.icon-enviroment:before {
  content: "\e617";
}

.icon-copy:before {
  content: "\e6cd";
}

.icon-zhedie:before {
  content: "\e6ad";
}

.icon-quanxianguanli:before {
  content: "\e6b2";
}

.icon-clear:before {
  content: "\e680";
}

.icon-modify:before {
  content: "\e6a3";
}

.icon-ca2:before {
  content: "\e628";
}

.icon-ca1:before {
  content: "\e66a";
}

.icon-checked:before {
  content: "\e615";
}

.icon-packet-capture:before {
  content: "\e6d8";
}

.icon-plane2:before {
  content: "\e62a";
}

.icon-shortcut:before {
  content: "\e632";
}

.icon-skins:before {
  content: "\e6d5";
}

.icon-certificate:before {
  content: "\e6b9";
}

.icon-settings3:before {
  content: "\e60f";
}

.icon-plugins:before {
  content: "\e604";
}

.icon-vertical:before {
  content: "\e626";
}

.icon-horizontal:before {
  content: "\e627";
}

.icon-cookies:before {
  content: "\e654";
}

.icon-terminal:before {
  content: "\e864";
}

.icon-directory:before {
  content: "\e608";
}

.icon-angle-double-down:before {
  content: "\e848";
}

.icon-angle-double-up:before {
  content: "\e849";
}

.icon-angle-double-right:before {
  content: "\e84a";
}

.icon-angle-double-left:before {
  content: "\e84b";
}

.icon-dictionary:before {
  content: "\e6a9";
}

.icon-network:before {
  content: "\e62e";
}

.icon-save:before {
  content: "\ec09";
}

.icon-save2:before {
  content: "\e6a2";
}

.icon-key:before {
  content: "\e6a8";
}

.icon-plane:before {
  content: "\e601";
}

.icon-sort:before {
  content: "\e65e";
}

.icon-angle-down:before {
  content: "\e84c";
}

.icon-angle-up:before {
  content: "\e84d";
}

.icon-angle-right:before {
  content: "\e84e";
}

.icon-angle-left:before {
  content: "\e84f";
}

.icon-more:before {
  content: "\e76a";
}

.icon-eye-slash:before {
  content: "\e7ec";
}

.icon-eye:before {
  content: "\e7ed";
}

.icon-tag:before {
  content: "\e7f0";
}

.icon-unlock:before {
  content: "\e7fa";
}

.icon-lock:before {
  content: "\e7fb";
}

.icon-info:before {
  content: "\e81e";
}

.icon-question-circle:before {
  content: "\e81f";
}

.icon-emphasize:before {
  content: "\e820";
}

.icon-minus:before {
  content: "\e828";
}

.icon-add:before {
  content: "\e829";
}

.icon-close:before {
  content: "\e82a";
}

.icon-arrow-down:before {
  content: "\e843";
}

.icon-arrow-up:before {
  content: "\e844";
}

.icon-chart-pie-alt:before {
  content: "\e78c";
}

.icon-location:before {
  content: "\e7f2";
}

.icon-settings:before {
  content: "\e818";
}

.icon-clouddownload:before {
  content: "\e81b";
}

.icon-cloudupload:before {
  content: "\e81c";
}

.icon-exchange:before {
  content: "\e81d";
}

.icon-ban:before {
  content: "\e827";
}

.icon-external-link:before {
  content: "\e832";
}

.icon-download:before {
  content: "\e83a";
}

.icon-upload:before {
  content: "\e83b";
}

.icon-arrow-right:before {
  content: "\e845";
}

.icon-arrow-left:before {
  content: "\e846";
}

.icon-paperclip:before {
  content: "\e850";
}

.icon-connection:before {
  content: "\e851";
}

.icon-drag:before {
  content: "\e86e";
}

.icon-share1:before {
  content: "\e86f";
}

.icon-share2:before {
  content: "\e870";
}

.icon-default-template:before {
  content: "\e614";
}

.icon-template-root-folder:before {
  content: "\e625";
}

.icon-response-template:before {
  content: "\e82c";
}

.icon-recovery:before {
  content: "\e600";
}

.icon-models-store:before {
  content: "\e649";
}

.icon-data-model:before {
  content: "\e72f";
}

.icon-project-info:before {
  content: "\e603";
}

.icon-fold-all2:before {
  content: "\e63a";
}

.icon-expand-all2:before {
  content: "\e63c";
}

.icon-folder:before {
  content: "\e63b";
}

.icon-grpc:before {
  content: "\e64b";
}

.icon-websocket:before {
  content: "\e735";
}

.icon-socket:before {
  content: "\e620";
}

.icon-web-socket:before {
  content: "\e622";
}

.icon-markdown-del:before {
  content: "\e7b8";
}

.icon-socket-service:before {
  content: "\e872";
}

.icon-recycle:before {
  content: "\e6a7";
}

.icon-delete:before {
  content: "\e61a";
}

.icon-template:before {
  content: "\e664";
}

.icon-share:before {
  content: "\e61f";
}

.icon-ui-test:before {
  content: "\e7e3";
}

.icon-history:before {
  content: "\e621";
}

.icon-notes:before {
  content: "\e633";
}

.icon-branches:before {
  content: "\e7e7";
}

.icon-api-manage:before {
  content: "\e661";
}

.icon-proxy:before {
  content: "\e6ae";
}

.icon-project-settings:before {
  content: "\ea41";
}

.icon-auto-test:before {
  content: "\e74e";
}

.icon-share-manage:before {
  content: "\e6f3";
}

